@charset "utf-8";
body {
	font-family: 'Roboto', sans-serif;
	background: #FFFFFF;
	color: #000000;
}

a {
	color: #AA0000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

strong {
	color: #AA0000;
}

#container {
	/* overflow: hidden; */
	width: 70em;
	margin-left: auto;
	margin-right: auto;
}

#container_right_col {
	clear: both;
	float: right;
	width: 17em;
	border-left-style: dashed;
	border-width: thin;
}

#container_left_col {
	float: left;
	width: 52.9em;
}

#header {
	color: #AA0000;
}

#side {
	float: right;
	width: 17em;
	padding-left: 1em;
	padding-right: 0.5em;
	box-sizing: border-box;
}

#side img {
	width: 80%;
}

#side h2 {
	color: #AA0000;
	margin: 0px;
}

#navbar {
}

#navbar ul {
	list-style-type: none;
	padding-left: 0px;
}

#navbar li {
}

#navbar a {
}

#contacts {
	background: #CCCCCC;
	padding: 0.5em;
	display: inline-block;
}

#contacts ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}

#contacts li {
}

#contacts a {
	color: #000000;
	display: inline-block;
}

#footer {
	margin-top: 1em;
	border-top-style: dashed;
	border-width: thin;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;
}

#footer p {
	margin: 0px;
}

#footer a {
}

#maincontent {
	float: left;
	padding-right: 0.5em;
	width: 52.9em;
	box-sizing: border-box;
}

#maincontent p {

}

#maincontent a {
}

#maincontent h2 {
	color: #AA0000;
	margin-bottom: 0.1em;
}

#maincontent h3 {
	color: #AA0000;
	margin-bottom: 0.1em;
}

#maincontent ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}


#maincontent li {
	padding-top: 0.3ex;
}

#journals {
	counter-reset: pubs;
}

#conferences {
	counter-reset: pubs 6;
}

#unpublished {
	counter-reset: pubs 17;
}

#tutorials {
	counter-reset: pubs 22;
}

#dissertation {
	counter-reset: pubs 24;
}

#otherpubs {
	counter-reset: pubs 25;
}

#pubs {
	margin:0px;
	padding:0px;
}

#pubs ol {
	padding-left: 0em;
	list-style-type: none;
}

#pubs li {
	padding-top: 0.7ex;
	list-style-position: inside;
	text-indent: -1em;
        padding-left: 1em;
}

#pubs li:before {
	content: counter(pubs) ". ";
	counter-increment: pubs;
}

.notop {
	padding-top: 0em;
	margin-top: 0em;
}

.clear {
	clear: both
}
