@charset "utf-8";
body {
	font-family: 'Roboto', sans-serif;
	background: #FFFFFF;
	color: #000000;
}

a {
	color: #5d3c85;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

strong {
	color: #5d3c85;
}

#container {
	/* overflow: hidden; */
	width: 70em;
	margin-left: auto;
	margin-right: auto;
}

#container_right_col {
	clear: both;
	float: right;
	width: 17em;
	border-left-style: dashed;
	border-width: thin;
}

#container_left_col {
	float: left;
	width: 52.9em;
}

#header {
	color: #5d3c85;
}

#side {
	float: right;
	width: 17em;
	padding-left: 1em;
	padding-right: 0.5em;
	box-sizing: border-box;
}

#side h2 {
	color: #5d3c85;
	margin: 0px;
}

#navbar {
}

#navbar ul {
	list-style-type: none;
	padding-left: 0px;
}

#navbar li {
}

#navbar a {
}

#contacts {
	background: #CCCCCC;
	padding: 0.5em;
	display: inline-block;
}

#contacts ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}

#contacts li {
}

#contacts a {
	color: #000000;
	display: inline-block;
}

#footer {
	margin-top: 1em;
	border-top-style: dashed;
	border-width: thin;
	padding-top: 0.3em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;
}

#footer p {
	margin: 0px;
}

#footer a {
}

#maincontent {
	float: left;
	padding-right: 0.5em;
	width: 52.9em;
	box-sizing: border-box;
}

#maincontent p {
	text-align: justify;
}

#maincontent a {
}

#maincontent h2 {
	color: #5d3c85;
	margin-bottom: 0.1em;
}

#maincontent h3 {
	color: #5d3c85;
	margin-bottom: 0.1em;
}

#maincontent h4 {
	color: #5d3c85;
	margin-bottom: 0.1em;
}

#news ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
}

#news li {
	padding-top: 0.3ex;
	margin-left: 2em;
	text-indent: -2em;
	text-align: justify;
}

#journals {
	counter-reset: pubs;
}

#conferences {
	counter-reset: pubs 18;
}

#techreps {
	counter-reset: pubs 45;
}

#tutorials {
	counter-reset: pubs 48;
}

#dissertation {
	counter-reset: pubs 51;
}

#otherpubs {
	counter-reset:pubs 52;
}

#pubs {
	margin:0px;
	padding:0px;
}

#pubs ol {
	padding-left: 0em;
	list-style-type: none;
}

#pubs li {
	padding-top: 0.7ex;
	list-style-position: inside;
	text-indent: -1em;
	padding-left: 1em;
}

#pubs li:before {
	content: counter(pubs) ". ";
	counter-increment: pubs;
}

.notop {
	padding-top: 0em;
	margin-top: 0em;
}

.clear {
	clear: both
}
